
img{
    width: 100%;
    border-radius: 10px;

}
.venta{
    color:blue;
}
.alquiler{
    color: red;
}

.precio{
    font-style: italic;
    float:right;    
}
.nombre{
    float:left; 
}

ul{
    li{
        list-style: none;
    }
}
.servicio{
    border:1px solid black;
}