
section{
    
    img{
        width: 200px;
        border-radius: 10px;
        
        
    }
    .derecha{
        font-style: italic;
        float:right;
        
    }
    .izquierda{
        float:left;    
    }
    ul{
        li{
            list-style: none;
        }
    }

}